body {
  background-color:#ccc;
  font-family:Audiowide;
}

#rosbot-panel {
  height:100vh;
}

@media screen and (orientation: landscape) and (min-height: 768px) {
  #rosbot-panel {
    height:100vh;
    padding:15px;
  }
}

#rosbot-perception {
  width:100%;
  padding:0px;
  margin:0;
  height:calc(100% - 10px);
}

#rosbot-status {
  width:100%;
  height:10px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
}

.rosbot-image {
  border-radius:2px;
  padding:0px;
  margin:2px;
  object-fit:contain;
  max-height:100%;
  width:99%;
  background-color:rgba(0, 0, 255, 0.5);
}

#joystick {
  position:absolute;
}

.controls-container {
  background-color:rgba(13,15,18,0.29);
  width:99%;
  height:100px;
  border-radius:5px;
  padding:2px;
  position:absolute;
  bottom:0px;
}

@media (min-height: 768px) {
  .controls-container {
    width:99%;
    max-width:450px;
    height:200px;
    border-radius:5px;
    margin:auto;
  }
}

@media (max-aspect-ratio: 6/8) {
  .controls-container {
    width:99%;
    max-width:450px;
    height:200px;
    border-radius:5px;
    position:relative;
    margin:auto;
  }
}

@media (min-height: 860px) and (min-aspect-ratio: 6/8) {
  .controls-container {
    width:99%;
    max-width:450px;
    height:200px;
    border-radius:5px;
    position:relative;
    margin:auto;
  }
}

.swiper-container {
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0);
}

.swiper-slide {
  text-align:center;
  background:rgba(0,0,0,0);
}

.swiper-slide:nth-child(1n) {
  width:100%;
}

@media screen and (min-aspect-ratio: 16/12) {
  .swiper-slide:nth-child(1n) {
    width:50%;
  }
}

.swiper-slide:nth-child(2n) {
  width:100%;
}

@media screen and (min-aspect-ratio: 16/12) {
  .swiper-slide:nth-child(2n) {
    width:50%;
  }
}

.progress {
  margin:0;
  width:100%;
  height:10px;
}

#battery-container {
  height:10px;
}

#control-panel {
  width:400px;
  padding:0px;
  margin:0 auto;
  font-size:10px;
}

@media (min-height: 768px) {
  #control-panel {
    font-size:18px;
  }
}

#control-panel .row {
  margin-left:0px;
  margin-right:0px;
  width:100%;
}

#rosbot-position {
  width:100%;
  color:rgba(253,254,255,1);
}

#position-label {
  width:100%;
  margin-top:0px;
}

#rosbot-controls {
  width:100%;
  margin:0px;
  padding:0px;
  color:rgb(255,255,255);
  min-width:280px;
}

.rosbot-pos {
  margin:0px;
  padding:0px 0px 0px 3px;
}

#rosbot-position .col:not(:last-child) {
  background-color:rgba(0, 0, 0, 0);
  border-right:1px solid rgba(255, 255, 255, 1);
}

.col {
  margin:0px;
  padding:0px 0px 0px 3px;
}

#rosbot-controls {
  width:100%;
  margin:0px;
  padding:0px;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-repeat:no-repeat;
  background-size:12px 12px;
  background-position:5px 50%;
  padding:0px 10px 0px 30px;
  margin:0px;
  border-color:rgba(255, 255, 255, 1);
  box-shadow:none;
  color:rgb(255, 255, 255);
  border-radius:10px;
  text-align:left;
  font-size:10px;
}

@media (min-height: 768px) {
  .btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    font-size:15px;
    background-size:20px 20px;
  }
}

#stop-button, #stop-button:active, #stop-button:focus, #stop-button:hover {
  background-image:url("../../assets/img/stop_button.png");
  background-color:rgba(0, 0, 0, 0.1);
  box-shadow:none;
}

#clear-button, #clear-button:active, #clear-button:focus, #clear-button:hover {
  background-image:url("../../assets/img/broom.png");
  background-color:rgba(0, 0, 0, 0.1);
  box-shadow:none;
}

#explore-button, #explore-button:active, #explore-button:focus, #explore-button:hover {
  background-image:url("../../assets/img/explore_button.png");
  background-color:rgba(0,0,0,0.1);
  box-shadow:none;
}

#rosbot-position-label {
  margin:0px;
  color:rgb(203,255,252);
}

#current-task-row {
  border-bottom:1px solid rgba(255, 255, 255, 1);
}

#dynamic {
  height:10px;
}

.rosbot-label {
  color:rgb(203, 255, 252);
  margin:0;
}

.rosbot-value {
  color:rgba(255, 255, 255, 1);
  margin:0px;
}

#map-zoom {
  position:absolute;
  width:99%;
  height:20px;
  top:0px;
  margin:0px;
  padding:0px;
}

@media screen and (orientation: landscape) and (min-height: 768px) {
  #map-zoom {
    position:absolute;
    width:99%;
    height:20px;
    top:2px;
    margin:0px;
  }
}

@media (min-height: 768px) {
  #rosbot-position .col {
    font-size:15px;
  }
}

#task-status-row {
  border-bottom:1px solid rgba(255, 255, 255, 1);
}

.btn-primary:disabled, .btn-primary:disabled, .show > .btn-primary.dropdown-toggle {
  color:#bbb;
  background-color:rgba(255, 255, 255, 0);
  border-color:rgba(255, 255, 255, 0.5);
}

.btn-primary {
  color:#fff;
  background-color:rgba(255, 255 ,255, 1);
  border-color:rgba(255, 255 ,255, 1);
}

